<mat-card style="width: 95%; min-height: 20%; height: auto; margin: auto">
	<mat-card-header
		style="
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		"
	>
		<mat-card-title>{{ title }}</mat-card-title>
		<mat-card-subtitle>{{ description }}</mat-card-subtitle>
		<nav mat-tab-nav-bar [tabPanel]="tabPanel" style="width: 100%">
			@for (link of links; track $index) {
			<a
				mat-tab-link
				(click)="navToTab(link, $index)"
				[active]="isLinkActive($index)"
				>{{ link.name }}</a
			>
			}
		</nav>
	</mat-card-header>
	<mat-card-content>
		<mat-tab-nav-panel #tabPanel>
			<router-outlet></router-outlet>
		</mat-tab-nav-panel>
	</mat-card-content>
</mat-card>
