<div class="container">
	<mat-card class="card-center">
		<mat-card-header>
			<mat-card-title>Welcome</mat-card-title>
			<mat-card-subtitle
				>Let us help with your expenses and peace of
				mind</mat-card-subtitle
			>
		</mat-card-header>
		<mat-card-content class="card-content-v">
			<mat-icon></mat-icon>
			<button mat-flat-button [routerLink]="['sign-in']">
				Already have account
			</button>
			<button mat-stroked-button>Don't have an account</button>
		</mat-card-content>
	</mat-card>
</div>
