form {
	.props {
		width: 100%;
		padding-top: 1em;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 1em;
		mat-form-field {
			flex-grow: 1;
		}
	}
	button {
		width: 100%;
	}
}
