<mat-card id="not-found-alert">
	<mat-card-header class="header">
		<mat-card-title>404 - NOT FOUND</mat-card-title>
		<mat-card-subtitle
			>Resource you requested connot be found</mat-card-subtitle
		>
	</mat-card-header>
	<mat-card-content class="content">
		<mat-divider></mat-divider>
		<mat-icon class="icon">error_outline</mat-icon>
		<mat-divider></mat-divider>
	</mat-card-content>
	<mat-card-footer class="footer">
		<mat-card-actions>
			<button mat-flat-button>Volver a inicio</button>
		</mat-card-actions>
	</mat-card-footer>
</mat-card>
